# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      echo "----------Download Latest Snyk CLI-----------"
              curl -Lo ./snyk "https://github.com/snyk/snyk/releases/download/v1.1200.0/snyk-linux"
              chmod +x snyk
              ls -lrt
              echo "----------Authenticating Snyk-----------"
              ./snyk auth $(snyk-token)
              echo "----------Snyk Scanning-----------" 
              ./snyk code test --report --project-name="snykcodepoc-240"