Flask==0.10.1
flask-cors==3.0.7
requests==2.19.1
pyyaml==3.13
Werkzeug==0.14.1
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability